/* Product */
.product-list {
  
}

.product-thumbnail {
  min-width: 183px;
  max-width: 480px;
  height: 400px;
  text-align: center;
  background-color: #fff;
}

.product-thumbnail--image {
  /* width: 20%;
    height: 100px; */
  height: 237px;
  position: relative;
}

.product-title {
  margin-top: 15px;
  height: 55px;
  display: grid;
  align-items: center;
}

.product-brand {
  height: 36px;
  display: grid;
  align-items: center;
}

.product-price {
  line-height: 50px;
}

.product-preview {}

.product-description-header {
  max-width: 500px;
  margin: 0 auto;
  padding: 24px;
}

.product-description-details {
  padding: 50px 0;
}

.product-description-photo {
  position: relative;
  width: 420px;
  height: 420px;
}

.product-description--mobile {
  display: block;
}
/**
 * product description responsiveness
 */
@media only screen and (min-width: 840px) {
  .product-description--desktop {
    display: block;
  }
  .product-description--mobile {
    display: none;
  }
}