@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
  --secondary-background: #23856D;
  --secondary-foreground: #fff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: #FAFAFA;
}

.svg-white {
  fill: #fff;
}
.button--sx {
  min-width: 40px;
}

.background-primary {
  background-color: #fff;
}
.background-secondary {
  background-color: #FAFAFA;
}

.nav-flexbar-stack {
  background-color: var(--secondary-background);
  color: var(--secondary-foreground);
}

.nav-flexbar {
  height: 58px; /*replace*/
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
/* container */
.container {
  padding: 0 48px;
}
@media only screen and (min-width: 640px) {
  .container {
    padding: 0 15px;
  }
}
.container--tall {
  margin-top: 50px;
  margin-bottom: 50px;
}
.container-lg {
  max-width: 1440px;
}

.container--md {
  max-width: 1176px;
}

.container--sm {
  max-width: 1100px;
}

.container--sx {
  max-width: 1056px;
}

/* typo */
.paragraph {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: .2px;
  color: #737373;
}
.h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: .1px;
  color: #252B42;
}
.h4 {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: .2px;
  color: #737373;
}
.h5 {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: .1px;
  color: #252B42;
}
.h6 {
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: .2px;
  color: #737373;
}

/**buttons*/
.button--options {
  border: 1px solid #E8E8E8;
}

.primary-color {
  color: #23A6F0;
}

.secondary-color {
  color: #23856D;
}

.muted-color {
  color: #BDBDBD;
}

.link-color {
  color: #737373;
}

.text--small {
  font-size: 12px;
}

.link {
  font-weight: 700;
  line-height: 18px;
  letter-spacing: .2px;
  font-size: 14px;
  color: #737373;
}


/* feature grid */
.feature-grid {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 300px 300px 300px 300px;
  gap: 15px;
}
.feature-grid-item {
  padding: 20px;
  font-size: 30px;
  position: relative;
}
.feature-grid-image {
  opacity: 1;
}

@media only screen and (min-width: 640px) {
  .feature-grid {
    grid-template-columns: auto auto;
    grid-template-rows: 300px 300px 300px;
  }
  .fg-1 {
    grid-row-start: 1;
    grid-row-end: 3;
  }
  .fg-4 {
    grid-row-start: 3;
    grid-column-start: 1;
    grid-column-end: 3;
  }
}

@media only screen and (min-width: 1024px) {
  .feature-grid {
    grid-template-columns: auto auto auto;
    grid-template-rows: 300px 300px;
  }
  .fg-1 {
    grid-row-start: 1;
    grid-row-end: 3;
  }
  .fg-2 {
    grid-column-start: 2;
    grid-column-end: 4;
  }
  .fg-4 {
    grid-row-start: initial;
    grid-column-start: initial;
    grid-column-end: initial;
  }
}


