/**navigation**/
.app-bar {
  display: grid;
  grid-template-columns: 120px auto;
  grid-template-rows: 78px auto;
  align-items: center;
  overflow: hidden;
}

.app-header {
  display: grid;
  grid-template-columns: auto;
  align-items: center;
}

.nav-toggler {
  text-align: right;
  align-self: right;

}

.nav-bar {
  display: grid;
  grid-template-columns: auto;
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 3;
}

.nav-group {
  list-style-type: none;
}

.nav-item {
  display: block;
  text-align: center;
}
.nav-item-tool {
  display: inline-block;
}

.nav-item-menu {
  padding: 8px;
  display: block;
  font-weight: 400;
  line-height: 45px;
  letter-spacing: .2px;
  font-size: 30px;
  text-align: center;
}

.nav-group--tools {
  
}
.nav-group--tools {
  text-align: right;
  align-self: right;
  padding-bottom: initial;
}

.desktop-only {
  display: none;
}

@media only screen and (max-width: 899px) {
  .mobile-menu {
    height: 0;
  }
  .mobile-menu--open {
    height: initial;
    max-height: max-content;
  }
}

@media only screen and (min-width: 900px) {
  .desktop-only {
    display: inline;
  }
  .app-bar {
    grid-template-columns: 140px auto auto;
    grid-template-rows: 78px;
  }

  .nav-bar {
    padding: 0;
    height: auto;
    grid-row-start: initial;
    grid-row-end: initial;
    grid-column-start: initial;
    grid-column-end: initial;
  }

  .nav-toggler {
    display: none;
  }

  .nav-item {
    display: inline;
  }

  .nav-item-menu {}

}

.icon-button {
  padding: 2px;
  width: 40px;
  min-width: 40px;
  display: inline-flex;
  box-sizing: border-box;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  position: relative;
  vertical-align: middle;
}


@media only screen and (min-width: 1069px) {
  .announce-contact {
    flex-direction: row;
  }
}